<div id="movie-form-edit">
    <header class="modal-header">
        <h3>Modifier le film</h3>
    </header>
    <section class="modal-body">
        <form class="form-horizontal" [ngFormModel]="movieForm">
            <div class="control-group" [ngClass]="{error: !isControlValid('title')}">
                <label class="control-label">Titre :</label>
                <input type="text" ngControl="title">
                <div *ngIf="!movieForm.controls.title.valid">
                    <span class="help-block">Ce champs est obligatoire</span>
                </div>
            </div>
            <div class="control-group" [ngClass]="{error: !isControlValid('releaseYear')}">
                <label class="control-label">Année de sortie :</label>
                <input type="text" ngControl="releaseYear">
                <div *ngIf="!movieForm.controls.releaseYear.valid">
                    <span class="help-block">Ce champs est obligatoire</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Réalisateur : </label>
                <input type="text" ngControl="directors">
            </div>
            <div class="control-group">
                <label class="control-label">Acteurs :</label>
                <input type="text" ngControl="actors">
            </div>

            <div class="control-group">
                <label class="control-label">Note :</label>
                <input type="text" placeholder="entre 1 et 5" ngControl="rate">
                <div *ngIf="!movieForm.controls.rate.valid">
                    <div *ngIf="movieForm.controls.rate.errors.number">
                        <span class="help-block">La valeur doit être un nombre</span>
                    </div>
                    <div *ngIf="movieForm.controls.rate.errors.min">
                        <span class="help-block">La valeur doit être supérieure à 1</span>
                    </div>
                    <div *ngIf="movieForm.controls.rate.errors.max">
                        <span class="help-block">La valeur doit être inférieure à 5</span>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <footer>
        <a [routerLink]="['/Movies']" data-dismiss="modal" class="btn btn-danger btn-small">Annuler</a>
        <button class="btn btn-success" [disabled]="!movieForm.valid" (click)="editMovie()">Modifier</button>
    </footer>

</div>
