<div id="movie-form-edit">
    <header class="modal-header">
        <h3>Modifier le film</h3>
    </header>
    <section class="modal-body">
        <form class="form-horizontal" #movieForm="ngForm">
            <div class="control-group" [ngClass]="{error:!title.valid}">
                <label class="control-label">Titre :</label>
                <input type="text" [(ngModel)]="movie.title" ngControl="title" #title="ngForm" required>
                <div [hidden]="title.valid">
                    <span class="help-block">Ce champs est obligatoire</span>
                </div>
            </div>
            <div class="control-group" [ngClass]="{error:!releaseYear.valid}">
                <label class="control-label">Année de sortie :</label>
                <input type="text" [(ngModel)]="movie.releaseYear" ngControl="releaseYear" #releaseYear="ngForm" required>
                <div [hidden]="releaseYear.valid">
                    <span class="help-block">Ce champs est obligatoire</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Réalisateur : </label>
                <input type="text" [(ngModel)]="movie.directors">
            </div>
            <div class="control-group">
                <label class="control-label">Acteurs :</label>
                <input type="text" [(ngModel)]="movie.actors">
            </div>
            <div class="control-group">
                <label class="control-label">Note :</label>
                <input type="number" placeholder="entre 1 et 5" [(ngModel)]="movie.rate">
            </div>
        </form>
    </section>
    <footer>
        <a [routerLink]="['Movies']" data-dismiss="modal" class="btn btn-danger btn-small">Annuler</a>
        <button class="btn btn-success" [disabled]="!movieForm.form.valid" (click)="editMovie()">Modifier</button>
    </footer>

</div>
