<header class="page-header">
    <h1>
        Ma vidéothèque
        <small>{{movies.length}} films</small>
        <button class="btn btn-primary" data-toggle="modal" data-target="#movie-form-modal">Ajouter un film</button>
        <button class="btn btn-success" (click)="switchDisplay()">
            <i *ngIf="displayTable" class="icon-list icon-white"></i>
            <i *ngIf="!displayTable" class="icon-th icon-white"></i>
        </button>
    </h1>
    <span>(dernière consultation:{{lastViewDate | date:'dd/MM/yyyy'}})</span>
</header>
<div [ngSwitch]="displayTable">

<ul class="thumbnails">
    <li *ngFor="let movie of movies" class="movieResult" class="span12">
        <img [src]="movie.poster || 'img/no-poster.jpg'" class="span2">
        <div class="caption">
            <h3>{{movie.title}}</h3>
            <p><b>Année de sortie : </b>{{movie.releaseYear}}</p>
            <p><b>Réalisateur : </b>{{movie.directors}}</p>
            <p><b>Acteurs : </b>{{movie.actors}}</p>
            <p><b>Synopsis : </b>{{movie.synopsis}}</p>
        </div>
    </li>
</ul>

    <template [ngSwitchWhen]="false">
        <ul class="thumbnails">
            <li *ngFor="#movie of movies;#i = index" class="movieResult" class="span12">
                <img [src]="movie.poster || 'img/no-poster.jpg'" class="span2">

                <div class="caption">
                    <h3>
                        <span highlight [message]="movie.synopsis">{{movie.title | uppercase}}</span>
                        <button class="btn btn-danger" (click)="deleteMovie(i,movie)"><i
                                class="icon-trash icon-white"></i>
                        </button>
                        <a class="btn btn-info" [routerLink]="['/Editmovie',{id:movie.id}]"><i
                                class="icon-edit icon-white"></i></a>
                    </h3>
                    <p><b>Année de sortie : </b>{{movie.releaseYear}}</p>

                    <p><b>Réalisateur : </b>{{movie.directors}}</p>

                    <p><b>Acteurs : </b>{{movie.actors}}</p>

                    <p><b>Synopsis : </b>{{movie.synopsis}}</p>

                    <p><b>Prix : </b> {{movie.price | currency:'EUR':true}}</p>

                    <p><b>Note : </b> {{movie.rate | rate}}</p>
                        <p><b>Acteurs : </b><span lazy="/api/movies/{{movie.id}}/actors">Plus d'infos ...</span></p>
                </div>
            </li>
        </ul>
    </template>
</div>

<!-- formulaire de création - caché par défaut -->
<movie-form (movieAdd)="addMovie($event)"></movie-form>
